flask
flask-bootstrap
flask-sqlalchemy
flask-moment
flask-wtf
flask-login
flask-security
flask-admin[sqlalchemy,images]
flask-principal
flask-mailman
wtforms
python-dotenv
email-validator
beautifulsoup4
selenium
Flask-Caching
APScheduler