body {
	margin: 0;
	font-family: Helvetica, Geneva, Verdana, sans-serif;
	background-color: #f8f9fa;
	color: #000;
}

/* Navbar Header */
.navbar-header {
	background-color: #1e293b; /* dark slate */
	color: white;
	padding: 1rem 1rem;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	max-height: 2rem;
}

.navbar-title {
  	font-size: 1.5rem;
  	font-weight: bold;
}

.navbar-links{
	display: flex;
	margin-left: 2rem;
}

.navbar-links a {
	display: flex;
  	color: white;
  	text-decoration: none;
  	transition: color 0.2s;
  	margin: 1rem;
  	align-items: center;
}

.navbar-links a:hover {
  color: #93c5fd; /* light blue on hover */
}

.logs {
	font-size: 1rem;
	font-weight: lighter;
}

.navbar-header a {
	color: #f1f5f9;
	text-decoration: none;
	transition: color 0.2s ease;
}

.navbar-header a:hover {
	color: #93c5fd; /* light blue */
}

/* Container */
.container {
	/*margin: 2rem auto; */
	padding: 0.5rem;
	background-color: #0b686a;
	border-radius: 8px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.signin {

	padding: 0.5rem;

}
