{% extends 'base.html' %}


{% block content %}

<!-- uses form object to create the form in jinja -->
<div class="change_p">
	<h2>
		Change password for {{current_user.get_name()}}
	</h2>

	<div class="container">
		
		<form method="POST">
			{{form.hidden_tag()}}

			<div>
				{{form.current_password.label}}
				{{form.current_password(size=32)}}
			</div>

			<div>
				{{form.new_password.label}}
				{{form.new_password(size=32)}}
			</div>

			<div>
				{{form.confirm_password.label}}
				{{form.confirm_password(size=32)}}
			</div>

			<div>
				{{ form.submit(class_="btn btn-primary") }}
			</div>
		</form>

	</div>
</div>


{% endblock %}