{% extends 'base.html' %}

{% block content %}

<img src=static/box.jpg alt="logo" align="left"  width="333" height="333">
<div class="logs">
	{% if not current_user.is_authenticated %}
	<style>
#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  position: relative;
top: 40px;
left: 40px;
}
#div2{
top: 40px;
left: 100px;
}
</style>
	<script>
function dragstartHandler(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function dragoverHandler(ev) {
  ev.preventDefault();
}

function dropHandler(ev) {
  ev.preventDefault();
  const data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}

</script>
</head>
<body>

<h1>Drag and Drop API</h1>

<p>Drag the image back and forth between the two div elements.</p>



<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="div1" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)" width="100" height="300" style="position: absolute; top: 500px; left: 300px; border-width: 5px; border-style: solid; border-color: blue;">
<img id="img1" src=static\box.jpg draggable="true" ondragstart="dragstartHandler(event)" width="100" height="100" style="top: 300px; left: 150px;"></div>
<div id="div1" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)" width="100" height="300" style="position: absolute; top: 500px; left: 450px; border-width: 5px; border-style: solid; border-color: blue;">
<div id="div1" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)" width="100" height="300" style="position: absolute; top: 500px; left: 450px; border-width: 5px; border-style: solid; border-color: blue;">
<div id="div1" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)" width="100" height="300" style="position: absolute; top: 500px; left: 450px; border-width: 5px; border-style: solid; border-color: blue;">
<div id="div1" ondrop="dropHandler(event)"   ondragover="dragoverHandler(event)" width="100" height="300" style="position: absolute; top: 500px; left: 450px; border-width: 5px; border-style: solid; border-color: blue;">


</body>	{%else %}
		
	{% endif %}
</div>
	
{% endblock %}